.totalTaskStatus{
    width: 140px;
    height: 70px;
    background: white;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #bdb8b8;
    justify-content: space-around;
}
.totalTaskStatus .icon {
font-size: 20px;
}
.totalTaskStatus span {
}
.totalTaskStatus div  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.totalTaskStatus div h5 {
    font-family: ui-monospace;
    font-size: 12px;
    font-weight: 100;
    color: #16191c;
}

.totalTaskStatus h5{
    font-family: ui-monospace;
    font-size: 14px;
    font-weight: 100;
    color: #282a2c;
}
.totalTaskStatus .icon:hover{
  cursor: pointer;
  scale: 1.1;
}
.totalTaskStatus span{
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
}
.totalTaskStatus div{
    display: flex;
    align-items: center;
    justify-content:center;

}
