.gantChart{
       display: flex;
    flex-direction: column;
    gap: 10px;
     /* border: 1px solid black; */
}
.gantChart h2{
       text-transform: capitalize;
    font-family: math;
    border-bottom: 1px solid #a5a1a1;
    color: #6b6b19;
    font-weight: 100;
    font-size: 16px;
}
.gantChart .chartColors{
display: flex;
justify-content: space-between;
}
 .chartColors p{
    display: flex;
    gap: 10px;
    font-family: monospace;
    border: 1px solid #959191;
    padding: 3px 20px;
    border-radius: 10px;
    align-items: center;
}
.chartColors p span{
    width:10px;
    height: 10px;
    border-radius: 5px;  
}
.chartColors div {
   display: flex;
    gap: 10px;
    font-weight: bold;
     align-items: center;
      margin-left: 20px;
}
.chartColors div h5{
    font-family: monospace;
    text-transform: uppercase;
    font-size: 16px;
}
.chartColors p:hover{
    color: white;
    background-color: #1f1e1e;
}
.chartColors div .completed span{
background-color: rgba(255, 26, 104, 1);
}
.chartColors div  .pending span{
background-color: rgba(54, 162, 235, 1);

}
.chartColors div .delayed span{
background-color: rgba(255, 206, 86, 1);

}
 .avatar{
    width: 10px;
    height: 10px;
 }
.gantChart input{
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px black
   }
   .gantChart form{
    display: flex;
    gap: 10px;
   }
   .gantChart form input{

   }
   .gantChart select{
    padding: 5px;
    border: none;
    border-radius: 10px;
        box-shadow: 1px 1px 1px 2px black
   }
   .gantChart button{
     padding: 5px;
    border: none;
    border-radius: 10px;
        box-shadow: 1px 1px 1px 2px black
   }
    