.projectsStatusBar{
   background: #fffefd;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
}
.projectsStatusBar div h5{
       font-family: system-ui;
    font-size: 1.3rem;
    color: #8f9397;
    text-align: center;
    font-weight: 100;
}
.projectsStatusBar div{
        display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectsStatusBar div input{
    width: 200px;
    padding: 5px;
    border: #cdcbc6;
    border-radius: 10px;
    background: #e9e9e9;
}