.evenetSection{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #bdb8b8;
    border-radius: 10px;
    width: 400px;
    height: 245px;
    gap: 10px;
}
.evenetSection span{
    display: flex;
    align-items: center;
     gap: 20px;
}
.evenetSection_events{
display:flex;
flex-direction: column;
gap:10px;
overflow-y: scroll;
border: 1px solid #d1d1d1;
padding: 5px 0px;
}
.evenetSection_events-event{
    display: flex;
    gap: 5px;
    padding: 2px;
    align-items: center;
}
.evenetSection_events-event p{
    font-size: 12px;
    font-family: math;
    color: #393939;
}
.evenetSection_events-event span{
    color: white;
    font-size: 9px;
    background: #34834d;
    border-radius: 5px;
    padding: 2px 8px;
}
.evenetSection   h3{
    font-family: system-ui;
    font-weight: 500;
    color: black;
    font-size: 17px;
     
    }


