 .AssignedTask{
   background: white;
   display: flex;
   flex-direction: column;
   padding: 5px;
   border:1px solid #bdb8b8;
   border-radius: 10px;
   width: 350px;
   height: 245px;
  }
  .AssignedTask h3{
       font-size: 15px;
    font-weight: 100;
    color: #bb7d46;
    font-family: monospace;
    display: flex;
    gap: 3px;
  }
  .AssignedTask span{
   display: flex;
   justify-content: space-between;
   width: 60%;
    align-self: end;
    font-family: system-ui;
    align-items: end;
   font-weight: 500;
   color: black;
   font-size: 17px;
  }
  .AssignedTask span input :hover{
   scale: 1.1;
  }
 .AssignedTask__situation{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 25px;
    overflow-y: hidden;
    flex: 1;
 }
 .AssignedTask__situation-types{
  display: flex;
    gap: 25px;
        align-items: center;
  }
 .AssignedTask__situation-types > li.workProgress{
    border-bottom: 3px solid #d7a66f;
    padding: 3px 14px;
 }
 .AssignedTask__situation--description{
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;overflow-y: scroll;
    justify-content: space-between;
 }
 .AssignedTask__situation-types > li {
  display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0px;
    cursor:pointer
 }
 .AssignedTask__situation-types > li  > label{
   color: #767171;
   cursor: pointer;
   font-size: 14px
 }
 .AssignedTask__situation--description--list {
   display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f6ecec;
    border-right: none;
    border-left: none;
    padding: 5px;
}
.AssignedTask__situation--description--list .icon{
   color:#d7a66f;
   font-size:large
}
.AssignedTask__situation--description--list > span {
  display: flex;
   align-items: center;
  width: 100%;
  align-self: auto
}
 .AssignedTask__situation--description--list > span > p{
   font-size: 13px;
   width: 100%;
   color: #546a7c;
   text-align: left;
   margin-left: 15px;
 }
 .AssignedTask__situation--description--list > span > input:hover{
  scale: 1.1;
  cursor: pointer;
}
 .AssignedTask__situation--description--list:nth-child(1){
  font-size: 0.7rem;
 }
 .AssignedTask__situation--description--list > img{
width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 75% 10%;
 }
 .footerButton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    align-items: center;
    width: 100%;
 }
 
 
.AssignedTask_Button{
background: #bb7d46;
    border: navajowhite;
    padding: 2px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: math;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.AssignedTask span .icon{
   font-size: 20px;
    color:#853e00;

}

.AssignedTask_Button:hover{
 cursor:pointer;
 font-size: 10px;
}
.AssignedTask_Button .icon{
   font-size:20px
}
.AssignedTask_Button .icon:hover{
   
}