 .AssignedTask{
   background: white;
   display: flex;
   flex-direction: column;
   padding: 5px;
   border:1px solid #bdb8b8;
   border-radius: 10px;
   height: 300px;
   width: 350px;
  }
  .AssignedTask span{
   display: flex;
   justify-content: space-between;
   width: 60%;
   flex-direction: fle;
   align-self: end;
   /* padding: 5px; */
   font-size: 16px;
   font-family: monospace;
  }
  .AssignedTask span input :hover{
   scale: 1.1;
  }
 .AssignedTask__situation{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 25px;
    overflow-y: hidden;
    flex: 1;
 }
 .AssignedTask__situation-types{
  display: flex;
    gap: 40px;
        align-items: center;
  }
 .AssignedTask__situation-types > li.workProgress{
    border-bottom: 3px solid #d7a66f;
    padding: 3px 14px;
 }
 .AssignedTask__situation--description{
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;overflow-y: scroll;
    justify-content: space-between;
 }
 .AssignedTask__situation-types > li {
  display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0px;
    cursor:pointer
 }
 .AssignedTask__situation-types > li  > label{
   color: #767171;
   cursor: pointer;
   font-size: 14px
 }
 .AssignedTask__situation--description--list {
   display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f6ecec;
    border-right: none;
    border-left: none;
    padding: 5px;
}
.AssignedTask__situation--description--list .icon{
   color:#d7a66f;
   font-size:large
}
.AssignedTask__situation--description--list > span {
  display: flex;
   align-items: center;
  width: 100%;
  align-self: auto
}
 .AssignedTask__situation--description--list > span > p{
   font-size: 13px;
   width: 100%;
   color: #546a7c;
   text-align: left;
   margin-left: 15px;
 }
 .AssignedTask__situation--description--list > span > input:hover{
  scale: 1.1;
  cursor: pointer;
}
 .AssignedTask__situation--description--list:nth-child(1){
  font-size: 0.7rem;
 }
 .AssignedTask__situation--description--list > img{
width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 75% 10%;
 }
 .AssignedTask__situation--description--footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    align-items: center;
    width: 100%;
 }
 
 .AssignedTask__situation--description--footer > p{
  font-size: 1rem;
  color:#bfb9b1
 }
 .AssignedTask__situation--description--footer > button{
padding: 5px 15px;
     background: #e57085;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 10px;
 }
 .AssignedTask__situation--description--footer > button:hover{
 background: #2b4168;
    color: rgb(255, 255, 255);
 }
.AssignedTask_Button{
background: #b3a662;
    border: navajowhite;
    padding: 2px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: math;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.AssignedTask span .icon{
   font-size: 20px;
    color: black;

}.AssignedTask span .icon:hover{
   font-size: 22px;
   color: rgb(138, 11, 11);

}
.AssignedTask_Button:hover{
scale: 1.1;
cursor:pointer
}
.AssignedTask_Button .icon{
   font-size:20px
}
.AssignedTask_Button .icon:hover{
   
}