.project{
       position: relative;
       display: flex;
     gap: 20px;
      width: 100%;
    padding: 10px;
  }
 select{
  padding: 2px 10px;
  border-radius: 5px;
border-radius: 5px;
    background: #257ab7;
    outline-color: none;
    /* outline: none; */
    border: none;
    color: white;}
 .mainTasks{
      position: relative;
       display: flex;
     gap: 20px;
       width: 100%;
    z-index: 998;
    padding: 10px;
 }

 .Form label{
font-family: monospace;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #0a0a09;
    text-transform: capitalize;
    font-weight: 800;
 }
 
 .employeContainer{
       position: relative;
    display: flex;
     gap: 5px;
    align-items: start;
    align-self: baseline;
     width: 100%;
    margin-top: 30px;
    padding: 10px;
}
.employeContainer_members span{
    position: relative;
       height: 25px;
    width: 250px;
    border-radius: 7px;
     font-size: 12px;
    border: 1px solid #514d4d;
    font-family: sans-serif;
     text-align: start;
    color: #000000;
    font-weight: 100;
    padding: 2px 10px;
}
 
.dropdown_icon{
       font-size: 16px;
    position: absolute;
    right: 0;
     color: black;
}
.employeContainer_members{
      display: flex;
    flex-direction: column;
     position: absolute;
     z-index: 999;
    background: white;
    padding: 5px;
    right: 0;
    top: 0px;
}
.employeContainer_members-employe{
  width: 250px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    background: #ffffff;
    height: 100%;
    padding: 5px;
    border: 1px solid rgb(202, 198, 198);
 }
.employeContainer_members-employe:hover{
background-color: rgba(1, 54, 151, 0.877);
}
 .employeContainer_members-employe div{
    display: flex;
    gap: 10px;
    align-items: center;
   }
 
   .employeContainer_members-employe div h4{
     color:black;
         font-size: 9px;
   }
   

 .employeContainer_members-employe div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
       object-position: 75% 10%;
 }
    .employeContainer_members-employe p{
        color: #bfacac;
    font-family: monospace;
   }
   
   @media screen and (max-width:800px){
      .project{
         flex-direction: column;
      }
      .employeContainer{
         flex-direction: column;

      }
}