.projectDetail{
display: flex;
    gap: 10px;
    background-color: #ffffffc2;
    width: 100%;
    padding: 15px;
 }
.projectDetail__side{
    flex: 1;
    background: #dbdbdb;
    height: 100vh;
    padding: 10px;
    overflow-y: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.projectDetail__side-header{
    font-size: 17px;
    color: black;
    text-align: start;
    margin-top: 15px;
}
.projectDetail__side a{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}
.projectDetail__side-projects div {
    display: flex;
    gap: 20px;
    align-items: center;
}
.projectDetail__side-projects div h6{
color: #858574;
}
.projectDetail__side-projects div span{
background: #2c6913;
    width: auto;
    padding: 0px 10px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}
.projectDetail__side-projects h4{
    color: #797979;
    font-size: 12px;
}
.projectDetail__side-projects p{
        color: black;
    font-size: 16px;
    font-weight: 400;
}
.projectDetail__sections{
    flex: 3;
    padding:5px;
overflow-y: scroll;
 
height:100vh;}
.projectDetail__sections header{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;    
}
.projectDetail__sections header h2{
text-align: start;
    color: black;
    font-weight: bolder; 
    text-transform: capitalize;   
    font-family: monospace;
    font-size: 20px;
}
.projectDetail__sections header div{
       display: flex;
    width: 50%;
    gap: 47px;
    align-items: center; 
}
.projectDetail__sections header  h6{
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
}
.projectDetail__sections header  h6 span{
    background-color: #2c6913;
    padding: 5px;
   
}
.projectDetail__sections header div h6{
        font-size: 15px;
}
.projectDetail__sections header div span{
    color: #d19d03;
    font-size: 14px;
    display: flex;
    gap: 5px;
}
.projectDetail__sections__TaskInformation{
  margin-top: 25px;
}
.projectDetail__sections__TaskInformation h4{
       color: black;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
}
.projectDetail__sections__TaskInformation ul{
    width: 50%;
     padding: 5px;
}
.projectDetail__sections__TaskInformation ul li{
   font-size: 12px;
    color: black;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 2px;
    border: 1px solid rgb(213 213 213);
    border-radius: 5px;
    padding: 5px;

 }
.projectDetail__routes{
 background-color: #000000;
 }
.projectDetail__routes nav{
    background-color: #000000;
    display: flex;
}
.projectDetail__routes-links{

}
.projectDetail__routes .link{

}
.projectDetail__routes-outlet{
    background-color: #c7c7c7;
    height: 100%;
    padding: 5px;
}