.Dashboard_TaskCompletion-doghnutGraph{
    height: 240px;
    background: white;
    width: 330px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
}
.Dashboard_TaskCompletion-doghnutGraph h5{
      font-family: system-ui;
    font-size: 15px;
    color: #8f9397;
    text-align: start;
    font-weight: 100;
 }

 



