.TodayTodo__view--task{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border:1px solid #bdb8b8;
  width: 400px;
    height: 245px
}
 .TodayTodo__view--task   h5{
  font-family: system-ui;
  font-weight: 500;
  color: black;
  font-size: 17px;
 }
 .TodayTodo__view--task   h3{
  display: flex;
  align-items: center;
  gap: 20px;
   justify-content: start;
  width: 100%;

 }

   .TodayTodo__view--task   ul{
     padding: 10px 5px;
    overflow-y: scroll;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 10px;
   }
  .TodayTodo__view--task   ul  li{
     gap: 20px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
  }
  .TodayTodo__view--task   ul  li  span{
       gap: 20px;
    display: flex;
    align-items: center;
  }
  .TodayTodo__view--task   ul  li  .left{
display: flex;  
}
  .TodayTodo__view--task   ul  li  .left   p{
    color: red;
    font-weight: 700;
}
  .TodayTodo__view--task   ul  li  .right{
    display: flex;
    color: #d7a66f;
    gap: 10px;
    align-items: center;
}
.right input:hover{
  scale: 1.1;
  cursor: pointer;
}
.todayTodos{
font-size: 1rem;
    color: rgb(77 64 64);
    font-family: system-ui;
}
.dot{
width: 8px;
    height: 8px;
    background: black;
    border-radius: 20px;
}
.TodayTodo__view--task ul h2{
  margin: auto;
    font-size: 20px;
    font-family: system-ui;
    color: #7b7a78;
    width: 100%;
    height: 100v;
    position: relative;
    top: 70px;
    font-weight: 100;
}
.TodayTodo__view--task-header{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
 }
.TodayTodo__view--task-header .icon:hover{
cursor: pointer;
scale:1.1
}