/* .Reports{
display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.TotalProjectsMemberes{
        display: flex;
    gap: 10px;
    flex-direction: column;
        align-items: center;
 }

.TotalProjectsMemberes .totals{
    display: flex;
    gap: 10px;
    align-items: center;
} */

 /* hello */

.Reports{
display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.TotalProjectsMemberes{
        display: flex;
    gap: 10px;
    flex-direction: column;
        align-items: center;
 }
.TotalProjectsMemberes button{
    background: red;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.TotalProjectsMemberes .totals{
    display: flex;
    gap: 10px;
    align-items: center;
}

.projectsStatusBar{
background: #fffefd;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    width: 540px;
}
.projectsStatusBar div h5{
       font-family: system-ui;
    font-size: 1.3rem;
    color: #8f9397;
    text-align: center;
    font-weight: 100;
}
.projectsStatusBar div{
        display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectsStatusBar div input{
    width: 200px;
    padding: 5px;
    border: #cdcbc6;
    border-radius: 10px;
    background: #e9e9e9;
}
.totalRevenues{
    display: flex;
flex-direction: column; 
   gap:10px;
   width:480px;
 }
 .bar{
          background: #fffefd;
    padding: 5px;
    border-radius: 10px;
    text-align: left;

}
.bar h5{
        font-family: system-ui;
    font-size: 1.3rem;
    color: #8f9397;
     font-weight: 100;
    margin-left: 20px;

}
