.rbc-calendar {
    background: #ffffff;
}
.rbc-event{
    padding: 0 !important;
     background-color: aliceblue;
    border: none;
    font-size: 14px;

}
.rbc-event-label{
    display: none !important;
}
.rbc-event-content{
    border: none;
 }
 .rbc-calendar {
    background: #ffffff;
    flex: 3;
  }
   
.scheduals_schedualsList{
  display: flex;
  width: 100%;
      gap: 10px;
} 
  .scheduals_AddButton{
    background: #312e2a;
    width: 200px;
    height: 30px;
     border-radius: 10px;
    box-shadow: thistle;
    color: white;
  }
  .scheduals_AddButton:hover{
  cursor: pointer;
  scale: 1.1;  }

  .scheduals{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}
    .rbc-addons-dnd .rbc-event {
    transition: opacity 150ms;
    border: none;
  }