.ProjectOverView{
    
}
table{
 width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0px;
    font-family: monospace;
 }

thead th span{
     display: flex;
    align-items: center;
    padding: 0px 19px;
    gap:5px;
 }
td{
      padding: 5px 0px;
}
.status{
    padding: 2px 5px;
    border-radius: 20px; 
    color: white;
    justify-content: center;

}
tbody tr td span{
    display: flex;
    align-items: center;
    padding: 0px 6px;
    gap: 5px;
 }
thead tr th {
      color: #888f8f;
    padding: 10px;
    background-color: #ffffff;
}
thead tr th select {
    border: navajowhite;
    outline: navajowhite;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    background: #b2b0b5;
    color: white;
    display: flex;
}
.da
thead tr th button {
    padding: 3px 20px;
    background: #0e90ff;
    border: navajowhite;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    font-family: auto;
    font-size: 15px;
}
thead tr th select option{
font-size: 15px;
    font-family: ui-monospace;
}
 tr td:first-child{
    min-width: 225px;
}
tr td:nth-child(6){
    text-align: center;
}
tr .assignedTo{
    display: flex;
}
tr .assignedTo span{
    font-size: 10px;
}
 
tr .assignedTo img{
    width: 25px;
    height: 25px;
 border-radius: 50%;
 object-fit: cover;
}
 

 
.data th .icon{
           font-size: 25px;
    color: black;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
    margin-left: 20;
     position: relative;
    right: 60px;
}
.data th .icon:hover{
    scale: 1.1;
}

.data th .link{
        background: red;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: 100;
    font-family: cursive;
        border: none;
}
.data th .link:hover{
    scale: 1.1;
}
tbody .data td{
background-color: aliceblue;
    border-bottom: 1px solid wheat;
    color: black;
    font-weight: 800;
    font-family: monospace;
    text-align: center;
        border: 1px solid #cbcbcb;
}
tbody .data{

}
tbody tr th{
     font-size: larger;
    font-weight: 800;
    height: 40px;
     background: #a5a5a56e;
    padding: 5px 10px;
    text-align: justify;
    color: #ffffff;
 }
 
   tbody tr td:nth-child(1){
         text-align: start;
 padding:0 10px;
    }
    
    tbody{

    }
 