
.tableContainer{
   display: flex;
   gap: 10px;
   flex-direction: column;
}
table{
width: 100%;
    max-width: 100%;
     border-spacing: 0px;
     font-family: monospace;
    font-size: 12px;
 background: white}
 th p{
       display: flex;
    align-items: center; 
    gap:5px;
    justify-content:center;
     font-weight: bold;
    color: #3e5b5e;
    text-transform: capitalize;
    letter-spacing: 1px;
}

thead tr th select option{
font-size: 15px;
    font-family: ui-monospace;
}

tr td:nth-child(5){
    text-align: center;
    position: relative;
}
td{
        border: 1px solid #e3e1e1;
    padding: 3px 0px;
    cursor:pointer
}
   td input{
        width: 100%;
    padding: 5px 5px;
    border: none;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    border: none;
    }

 .taskStatus{
       position: absolute;
    width: 80%;
    height: 80%;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border-radius: 3px;
    left: 8px;
    padding: 5px 0px;
    color: black;
 }
 td{
    position: relative;
    text-align: center;
 }
 .taskStatus_menu{
       display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 100;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 25px;
    background: #777777;
    height: auto;
    width: 150px;
    border-radius: 10px;
    transition: 10ms all ease-in;
    left: -20px;
 }
 .taskStatus_menu-item{
     color: white;
    border: none;
    cursor: pointer;
    height: 16px;
    display: flex;
    align-items: center;
    padding: 11px 16px;
    width: 90%;
    align-self: center;
    gap: 10px;
 }
 .taskStatus_menu-item:hover{
    scale:1.1;
    cursor: pointer;
    background:#959595
 }

 .taskStatus-stat{
    cursor: pointer;
    position: absolute;
 }
 .taskStatus_menu-item span {
    width: 10px;
    height: 10px;
 }
 td p{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color:black
 }
 td span{
   display: flex;
   align-items: center;
   gap: 10px;
   color: black;
}
 td img{
    width:20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
 }
 .tableHeader{
   position: relative;
   display: flex;
   justify-content: space-between;
 }
 .tableHeader h4{
    color: #1717b5;
    font-family: math;
 }
 .tableHeader div{
    display: flex;
    gap: 10px;
 }
 .tableHeader div span{
    background: #dd6e0b;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-size: 14px;
 }
 .tableFilter div .icon{

 }
 .tableHeader_filter-selected{
   font-family: none;
   font-size: 15px;
   padding: 2px 26px;
   border-radius: 5px;
   color: #dd6e0b;
   display: flex;
   align-items: center;
   font-weight: 800;
 }
 .tableHeader_filter-types{
   display: flex;
   flex-direction: column;
   padding: 15px;
   align-items: start;
   z-index: 5;
   position: absolute;
   top: -10px;
   left: 220px;
}
 
 .tableHeader_filter-types li{
   list-style: none;
   cursor: pointer;
   border: 1px solid #777070;
   border-radius: 5px;
   width: 100%;
   text-align: start;
   padding: 0 10px;
   background: white;
   font-family: math;
   font-size: 15px;
   padding: 2px 26px;
 }
 .tableHeader_filter-types li:hover{
   scale: 1.1;
   background-color: #777070;
   color: white;
 }
 