
table{
width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0px;
     font-family: monospace;
    font-size: 12px;
 background: white}
 th p{
       display: flex;
    align-items: center; 
    gap:5px;
    justify-content:center;
     font-weight: bold;
    color: #3e5b5e;
    text-transform: capitalize;
    letter-spacing: 1px;
}

thead tr th select option{
font-size: 15px;
    font-family: ui-monospace;
}

tr td:nth-child(5){
    text-align: center;
    position: relative;
}
td{
        border: 1px solid #e3e1e1;
    padding: 3px 0px;
    cursor:pointer
}
   td input{
        width: 100%;
    padding: 5px 5px;
    border: none;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    border: none;
    }

 .taskStatus{
       position: absolute;
    width: 80%;
    height: 80%;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border-radius: 3px;
    left: 8px;
    padding: 5px 0px;
    color: black;
 }
 td{
    position: relative;
    text-align: center;
 }
 .taskStatus_menu{
       display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 100;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 25px;
    background: #777777;
    height: auto;
    width: 150px;
    border-radius: 10px;
    transition: 10ms all ease-in;
    left: -20px;
 }
 .taskStatus_menu-item{
     color: white;
    border: none;
    cursor: pointer;
    height: 16px;
    display: flex;
    align-items: center;
    padding: 11px 16px;
    width: 90%;
    align-self: center;
    gap: 10px;
 }
 .taskStatus_menu-item:hover{
    scale:1.1;
    cursor: pointer;
    background:#959595
 }

 .taskStatus-stat{
    cursor: pointer;
    position: absolute;
 }
 .taskStatus_menu-item span {
    width: 10px;
    height: 10px;
 }
 td p{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color:black
 }
 td span{
   display: flex;
   align-items: center;
   gap: 10px;
   color: black;
}
 td img{
    width:20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
 }
 .tableFilter{
display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0px 10px;
    align-items: end;
    margin-top: -30px;
 }
 .tableFilter h4{
    color: #1717b5;
    font-family: math;
 }
 .tableFilter div{
    display: flex;
    gap: 10px;
 }
 .tableFilter div span{
    background: red;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-size: 14px;
 }
 .tableFilter div .icon{

 }
 