.modal{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #352e2ec7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
height: 100vh;
 transition: ease-in-out linear 1s ;
}
.addProject{
       display: flex;
       color: #cdb15fc4;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffff;
    padding: 15px;
    padding: 15px;
    width: 600px;
    gap: 35px;
    margin: auto;
}
.addProject h1{
    font-family: monospace;
    font-weight: 500;
    font-size: 25px;
   margin-left: 25px;
   }
   .addProject label{
          color: #6d6666;
    font-size: large;
    font-family: serif;
    font-weight: 200;
   }
.addProject_header{
        display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #afafaf solid 1px;
    align-items: center;
}
.addProject_header h2{
      font-family: cursive;
    font-size: larger;
    /* border: solid; */
    font-weight: 500;
   margin-left: 10px;
}
.addProject_header .icon:hover{
  cursor: pointer;
  scale: 1.1; 
}
  .addProject_date div  input{
       border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(63, 60, 60);
         width: 300px;
    background: #d5d5d9;
}
 
.addProject_date{
    display: flex;
    align-items: center;
    justify-content: center;
 flex-direction: column;
        gap: 20px;
    margin-top: 20px;
}

.addProject__textarea {
      margin-top: 10px;
    border-radius: 20px;
     font-size: 1.1rem;
    padding: 15px;
}
 .addProject div{
    display: flex;
    align-items: center;
    gap: 20px;
   }
   .addProject div h2{
   color: #6d6666;
    font-size: large;
    font-family: serif;
    font-weight: 200;
 }
.addProject__button{
    margin-top:30px;
       background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.addProject__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
 
 
.addProject_date{
     gap:10px; 
     margin-top:20px;
     display:flex; 
}
.addProject_date div{
       display: flex;
    align-items: center;
    justify-content: space-evenly;
      gap: 10px;
}
.addProject_date div label{
    display: flex;
    align-items: center;
    gap: 10px;
      
 }
   
 .addProject__tags{
       display: flex;
    align-items: center;
    gap: 20px;
  }
 .addProject__tag:hover{
   border:#643333 solid 2px 
   }
   .addProject__tags div{
        display: flex;
    gap: 15px;
   }
   
 .tag{
      width: 35px;
    height: 35px;
     border-radius: 50%;
 }
