.CommentSection{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #bdb8b8;
    border-radius: 10px;
    width: 355px;
    height: 245px;
    gap: 10px;
    overflow: hidden;
}
.CommentSection_TeamsComment{
    display: flex;
    flex-direction: column;
     border: 1px solid #efefef;
    padding: 5px
}
.CommentSection_header{
    display: flex;
    gap: 10px;
    align-items: center;
}
.CommentSection_header .icon{
    color: black;
    font-size: 20px;  
}
.CommentSection_header h3{
    font-family: system-ui;
    font-weight: 500;
    color: black;
    font-size: 17px;
 }
  .CommentSection_TeamsComment   .CommentSection_TeamsComment-Usercomments{
    display: flex;
    gap: 10px;
    /* border: 1px solid #dbdbdb; */
    padding: 3px 7px;
}
.CommentSection_TeamsComment-Usercomments    img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 75% 10%;
}
.CommentSection_TeamsComment-Usercomments   span{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.CommentSection_TeamsComment-Usercomments  span   h6{
    font-size: 12px;
    color: #b3b3b3;
    font-family: cursive
}
.CommentSection_TeamsComment-Usercomments   span   p {
    align-self: center;
    margin-left: 15px;
    color: #353535;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: sans-serif;
}
