.parent{
    height: 15px;
    width: 100px;
    background-color: #cfcbcbe0;
    border-radius: 40;
    margin: 50;
      position: relative;
    border-radius: 20px;
}
.child{
}
.parent .child span{
      position: absolute;
    left: 35px;
    color: black;
}