.issueSection{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid #bdb8b8;
    border-radius: 10px;
    width: 355px;
    height: 245px;
    gap: 8px;
}

.issueSection__issues{
display: flex;
    flex-direction: column;
 }

  .issueSection__issues   .issueSection__issues-projectIssue{
       display: flex;
    gap: 10px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    border-radius: 25px;

}
.issueSection__issues-projectIssue    img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 75% 10%;
}
.issueSection__issues-projectIssue   span{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.issueSection__issues-projectIssue span   h6{
 font-size: 12px;
    color: #156993;
    font-family: math;
    font-weight: 100;
    text-transform: capitalize;
}
.issueSection__issues-projectIssue  span   p {
       color: #191c1b;
    margin-bottom: 5px;
    font-family: math;
    font-size: 13px;
    text-wrap: pretty;
}
