.Form__AttachDocuments-selectedFiles{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid #afa6a6;
    height: 70px;
    overflow-y: scroll;
    width: 350px;
    overflow-x: hidden;
 }
 .Form__AttachDocuments-selectedFiles-file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }
 .Form__AttachDocuments-selectedFiles-file:hover{
background:#afa6a6 !important 
}
 .Form__AttachDocuments-selectedFiles span{
   font-family: monospace;
     color: #000000;
    padding: 0px 5px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
 
 .Form__AttachDocuments-selectedFiles .closeIcon{
   font-size: 15px;
   cursor: pointer;
 }
  
 .Form__AttachDocuments-selectedFiles span .icon{
color: rgb(124, 0, 0);
 }