.modal{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #352e2ec7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
height: 100vh;
 transition: ease-in-out linear 1s ;
}
.addProject{
    display: flex;
    color: #cdb15fc4;
    flex-direction: column;
     color: rgb(11, 12, 12);
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffff;
     padding: 25px;
    width: 600px;
    gap: 35px;
    font-size: 10px;
}
.addProject_header{
font-size:10px
}

.addProject h1{
    font-family: monospace;
    font-weight: 500;
    font-size: 25px;
   margin-left: 25px;
   }

   .addProject label{
          color: #212020;
    font-size: large;
    font-family: monospace;
    font-weight: 200;
   }
.addProject_header{
        display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #afafaf solid 1px;
    align-items: center;
}
.addProject_header h2{
      font-family: cursive;
    font-size: larger;
    /* border: solid; */
    font-weight: 500;
   margin-left: 10px;

  }  
  .project__name{
     display: flex;
    align-items: center;
    gap: 20px
  }
.addProject_header .icon:hover{
  cursor: pointer;
  scale: 1.1; 
}
  .addProject_date div  input{
   border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(197 183 183);
    width: 340px;
    background: #ffffff;
    padding: 5px 15px;
}
 
.addProject_date{
       display: flex;
    align-items: baseline;
    gap: 30px;
    flex-direction: column;
}

.addProject__textarea {
      margin-top: 10px;
    border-radius: 20px;
     font-size: 1.1rem;
    padding: 15px;
}

   .addProject div h2{
   color: #6d6666;
    font-size: large;
    font-family: serif;
    font-weight: 200;
 }
.addProject__button{
        margin-top: 30px;
    background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-self: center;
}
.addProject__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
 
.addproject__memberAdding{
  position: relative;
}
 .employeContainer_members__selected{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    overflow-y: scroll;
    max-height: 140px;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

 .employeContainer_members__selected-employee{
      width: 250px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    background: #ffffff;
    height: 30px;
    padding: 5px;
    align-items: center;
    width: 215px;
    border: 1px solid black;
    gap: 10px;
 }
 .employeContainer_members__selected-employee .closeIcon{
  font-size: 15px;
  cursor: pointer;
  margin-top: -15px;
  color:black
   }
  
 .employeContainer_members__selected-employee p{
color: #000000;
    font-family: monospace;
    text-align: start;
    font-size: 10px;
 }
 .employeContainer_members__selected-employee div{
    display: flex;
    align-items: center;
    gap: 5px;
 }
 .employeContainer_members__selected-employee  div img{
     width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    object-fit: cover;
    object-position: 75% 10%;
 }
 .employeContainer_members__selected-employee div h4{
    font-size: 10px;
 color: black;
 }
.addProject_date{
     gap:10px; 
     margin-top:20px;
     display:flex; 
}
.addProject_date div{
       display: flex;
    align-items: center;
    justify-content: space-evenly;
      gap: 10px;
}
.addProject_date div label{
    display: flex;
    align-items: center;
    gap: 10px;
      
 }
   
 .addProject__tags{
       display: flex;
    align-items: center;
    gap: 20px;
  }
   .addProject__tags div{
        display: flex;
    gap: 15px;
   }
   
 .tag{
      width: 35px;
    height: 35px;
     border-radius: 50%;
 }
