.TodoForm{
       display: flex;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 670px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffffad;
    grid-area: form;
    padding: 15px;
     padding: 15px;
width: 359px;    overflow: hidden;
     gap:15px;
     margin-top:20px
}
.TodoForm_header{
        display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #afafaf solid 1px;
    align-items: center;
}
.TodoForm_header h2{
      font-family: cursive;
    font-size: larger;
    /* border: solid; */
    font-weight: 500;
   margin-left: 10px;
}
.TodoForm_header .icon:hover{
  cursor: pointer;
  scale: 1.1; 
}
  .TodoForm > input{
    border-radius: 20px;
    text-align:center;
    border: 1px solid rgb(63, 60, 60);

}
.TodoForm div h2{
  font-size: 15px;
}
.TodoForm > div{
    display: flex;
    align-items: center;
          width: 100%;
        border-bottom: 1px solid #e7dfdf;
    padding: 10px;
    justify-content:space-between
}  
.TodoForm__type{
 display: flex;
    align-items: center;
}
.TodoForm__date{
    display: flex;
    align-items: center;
    justify-content: center;
         gap: 20px;
    margin-top: 20px;
}
   .TodoForm > label{
    text-align: start;
    margin-left: -10px;
    font-weight: 800;
    color: black;
   }
   .TodoForm__date input{
    border-radius: 10px;
     padding: 10px;
   }
 
.TodoForm > h1{
    margin-top: 40px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: start;
}


.TodoForm__textarea {
      margin-top: 10px;
    border-radius: 20px;
    width: 230px;
    height: 70px;
    font-size: 1.1rem;
    padding: 15px;
}
 
.TodoForm__button{
    margin-top:30px;
       background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.TodoForm__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
.TodoForm__type{
     display: flex;
     gap:10px;
}
 
.TodoForm__type--personal:hover{
     background-color: #183de2;
     color: white;
}
.TodoForm__type--buisness:hover{
     background-color: red;
     color: white;
}
 
 .TodoForm__type--all{ 
    background: #fcfcfc;
    height: 30px;
    width: 140px;
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 20px;
}
.TodoForm__date{
     gap:10px; 
     margin-top:20px;
     display:flex; 
}
.TodoForm__date div{
     display: flex;
    align-items: center;
justify-content: space-evenly;    width: 100%;
}.TodoForm__date div label{
      display: flex;
    align-items: center;
     width: 100%;
     gap: 10px;
 }
 .TodoForm__date div input{
  width: 200px;
  cursor: pointer;
 }
   
 .TodoForm__tags{
    margin-top: 20px;
    gap: 10px;
  }

   .TodoForm__tags div{
        display: flex;
     gap: 15px;
   }
   
 .tag{
      width: 35px;
    height: 35px;
     border-radius: 50%;
 }
 .tag:hover{
  scale: 1.1;
 }
.TodoForm__button .icon{
      font-size: 25px;
}
.TodoForm__button .icon:hover{
  scale: 1.1;
}