.projectCatagory{
     width: 415px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3px 3px;
    font-family: math;
    font-weight: bold;
    height: 110px;
    gap: 5px;
}
.projectCatagory__top{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 700;
    color: black;
    font-family: system-ui;
}
.cards{
      display: flex;
    gap: 10px;
}

/* .projectCatagory span {
       font-size: 15px;
    font-family: fangsong;
    font-weight: 100;
    color: #898981;
} */
.projectCatagory__top span {
      font-size: 18px;
    font-family: system-ui;
    font-weight: 100;
    color: #898981;
}