
.TodayTodo__wavingHand{
    font-size: 20px;
    font-family: monospace;
    font-family: system-ui;
    font-weight: 900;
    color:black;
 }
 
.Dashboard{
    display: flex;
    flex-direction: column;
    gap: 40px;
 }
.date{
    font-size: 15px;
    font-weight: 900;
    font-family: cursive;
}
.time{
font-size: 1.3rem;
    color: #9c9ea1;
}
.TodayTodo > .greeting{
display: flex;
    flex-direction: column;
    align-items: center;
}
.Dashboard_TaskCompletion-totalTaskCount{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.Dashboard_Status{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0px 10px;
}
  .bargraph{
    background: #ffffff;
    border-radius: 20px;
    height: 300px;
    display:flex;
    flex-direction: column;
    gap: 2px;
  }
  .bargraph h5{
       font-size: 20px;
    font-family: fangsong;
    font-weight: 100;
    color: #898981;
  }

  .Dashboard_TaskCompletion_container{
       width: 405px;
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 320px;
    gap: 10px;
     border-radius: 10px;
    background-color: white;
        overflow-y: scroll;
  }
 
   .Dashboard_TaskCompletion_container .icon{
    cursor: pointer;
    font-size: 25px;
    color: black;
    border: 1px solid black;
         border-radius: 10px; 
  }
   .Dashboard_TaskCompletion_ .icon:hover{
     scale:1.1
  }
 .Dashboard_TaskCompletion_container {
   display: flex;
     justify-content: space-evenly;
    font-family: monospace;
    border-radius: 5px;
    color: white;
 }
 .Dashboard_TaskCompletion_container span{
        background: white;
    display: flex;
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(169 161 161);
    align-items: center;
    color: black;
 }
  .Dashboard_TaskCompletion_container span p{
text-align: center;
    margin: 0 auto;
    font-family: math;
    font-size: 20px;
  }
 .Dashboard_TaskCompletion_container ul li :nth-child(3){
     background-color: #7b7272;
    padding: 5px;
    border-radius: 10px;
    color: white;
 }
  .Dashboard_TaskCompletion_container ul li :nth-child(2){
     background-color: #569985;
    padding: 5px;
    border-radius: 10px;
    color: white;
 }
 .Dashboard_TaskCompletion_container ul{
 display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 15px;
    height: 250px;
 
 }
 .Dashboard_TaskCompletion_container ul li{
   display: flex;
    gap: 10px;
    align-items: center;
    background: #ffffffa6;
    padding: 5px;
    border-radius: 5px;
    color: black;
    border-bottom: 1px solid #d4cfcf;
 }
.Dashboard_TaskCompletion-doghnutGraph{
  height: 240px;
    background: white;
    width: 370px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
}
.Dashboard_TaskCompletion-doghnutGraph h5{
      font-family: system-ui;
    font-size: 20px;
    color: #8f9397;
    text-align: center;
    font-weight: 100;
 }

.Dashboard_TaskCompletion-projectComment{
      display: flex;
     gap: 10px;
}
.Dashboard_TaskCompletion_Project{
  display: flex;
  gap: 15px;
  width: 656px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 3px 1px 1px 1px #9ca5a5;
  border-radius: 10px;
  height: 300px;
  width: 350px;
}
.Dashboard_TaskCompletion_Project-Catagori{
      display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
 }




