.header{
   display: flex;
    justify-content: space-between;
    padding: 0px 50px;
     font-family: cursive;
    position: sticky;
    top: 0;
    background: #ffffff;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0px;
}
.header h1{
    font-family: cursive;
    font-size: 2rem;
}
.header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.header .left{
display: flex;
gap: 20px;
}
.header .left .notification{
    position: relative;
    top: 10px;
    width: 50px;
}
.header .left .notification span{
       position: relative;
    bottom: 24px;
    font-family: sans-serif;
    font-weight: 900;
    right: 6px;
    font-size: 12px;
}
.header__profile{
    position: relative;
}
.header__profile .arrowdown{
    position: absolute;
    top: 30px;
    left: 30px;
}
.header__profile-description{
     position: absolute;
    right: -5px;
    top: 45px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.header__profile-description p{
    display: flex;
    align-items: center;
    width: 140px;
    gap: 20px;    justify-content: space-between;
    font-size: 15px;
    cursor:pointer;
    border-bottom: 1px solid #dfdfdf;
}
.modal{

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #352e2ec7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
height: 100vh;
/* transition: all 1 ease-in-out; */
transition: ease-in-out linear 1s ;
}
.closeIcon{
 position: absolute;
    font-size: 31px;
    right: 0;
    top: 0;
    color: black;
    cursor: pointer;
}
.closeIcon:hover{
 scale: 1.1;
}
.profile_description{
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
/* .profile_description_right{
} */
.profile_description_right{
        background: #646766;
    padding: 30px;
    border-radius: 10px;
    color: white;
}
.profile_description_right img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.profile_description_right p {
        font-family: cursive;
    font-size: 18px;
}
.profile_description_right span{
    font-family: sans-serif;
    font-size: 15px;
}
.profile_description_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
align-items: start;}
.profile_description_left-bio{
    display: flex;
        gap: 20px;
    align-items: center;
        height: 40px;
    border-left: 1px solid #b5b5bb;
    border-radius: 10px;
    padding: 5px;
}
.profile_description_left-bio p{
       font-family: cursive;
    font-weight: 100;
    font-size: 15px;
    color: #646464;
}
 .profile_description label {
    font-family: ui-monospace;
        font-weight: 700;
         font-size: 18px;
 }
.profile_description_left-totalFriends{
    display: flex;
    gap: 20px;
        height: 40px;
    border-left: 1px solid #b5b5bb;
    border-radius: 10px;
    padding: 5px;
    
}
 
.profile_description_left-totalFriends span{
          font-family: cursive;
    font-weight: 100;
    font-size: 15px;
    color: #646464;
}
.profile_description_left-AccomplishedProject{
    height: 40px;
    border-left: 1px solid #b5b5bb;
    border-radius: 10px;
    padding: 5px;
}
 
.profile_description_left-AccomplishedProject span {
    font-family: cursive;
    font-weight: 100;
    font-size: 15px;
    color: #646464;

}
 
.profile_description_left-projectsIncluded    {
      display: flex;
    gap: 40px;
    height: 40px;
    border-left: 1px solid #b5b5bb;
    border-radius: 10px;
    padding: 5px;
}
 
/* .profile_description_left-projectsIncluded ul {

} */
.profile_description_left-projectsIncluded ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;

}
.profile_description_left-projectsIncluded ul li{
    font-family: cursive;
    font-weight: 100;
    font-size: 15px;
    color: #646464;
    list-style: lower-roman;

}