.header{
   display: flex;
    justify-content: space-between;
    padding: 0px 50px;
     font-family: cursive;
    position: sticky;
    top: 0;
    background: #ffffff;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 25px;
    align-items: center;
  height: 65px;
  border-bottom: #e5dddd 1px solid;
  z-index: 999;
}
.header h3{
       text-transform: capitalize;
    font-family: math;
     color: #000000;
    font-weight: 700;
    font-size: 20px;
}
.header h1{
    font-family: cursive;
    font-size: 2rem;
}
.header .left{
    display: flex;
     justify-content: center;
    gap: 30px;
    position: relative;
    top: 10px;
    align-items: center
}
.header .left .notification{
    height: 23px;}
.left .icon{
    font-size: 20px;
    color: black;
}

.header .left .notification span{
         position: relative;
    bottom: 24px;
    font-family: sans-serif;
    right: 6px;
    font-size: 8px;
    border: 50%;
    border-radius: 50%;
    background: #34453f;
    color: white;
    padding: 2px 3px;
}
.left .profile {
    display: flex;
    gap: 10px;
    align-items: end;
}
.left .profile p{
    font-family: math;
    font-weight: 100;
        font-size: 10px;
        color: white;
}
.left .profile img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%; 
}
.header__profile .arrowdown{
    position: absolute;
    top: 30px;
    left: 30px;
}
.header__profile-description{
     position: absolute;
    right: -5px;
    top: 45px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.header__profile-description p{
    display: flex;
    align-items: center;
    width: 140px;
    gap: 20px;    justify-content: space-between;
    font-size: 15px;
    cursor:pointer;
    border-bottom: 1px solid #dfdfdf;
}
.modal{

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #352e2ec7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
height: 100vh;
/* transition: all 1 ease-in-out; */
transition: ease-in-out linear 1s ;
}
.closeIcon{
     font-size: 31px;
     color: rgb(11, 12, 12);
     cursor: pointer;
}

.closeIcon:hover{
 scale: 1.1;
}
.profile_description{
    display: flex;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 100vh;
     border-left: 1px solid rgb(175 150 150);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffff;
    grid-area: form;
    padding: 15px;
    padding: 15px;
    width: 400px;
    overflow: hidden;
    gap: 15px;
     position: absolute;
    right: 0;
    color: black
}
/* .profile_description_right{
} */
.profile_description-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.signout{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #ff8f00;
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
}
.profile_description_right{
    display: flex;
     padding: 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    gap: 10px;
}
.profile_description_right img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.profile_description_right p {
        font-family: cursive;
    font-size: 18px;
}
.profile_description_right span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 260px;
}
    .profile_description_right span p{
        font-family: emoji;
        font-size: 15px;
        color: #585d5b;
        font-weight: 100;
}
.profile_description_right span :first-child{
    color: black;
    font-family: monospace;
    font-size: 21px;
    font-weight: 700;
 }
 .profile_description_right span :last-child{
    color: black;
    font-family: math;
    font-size: 14px;
    font-weight: 700;
 }
.profile_description__middle{

}
.profile_description__middle-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
align-items: start;
flex-direction: row;}
.profile_description__middle-item{
    display: flex;
     gap: 15px ;
         height: 30px;
    border-radius: 10px;
    padding: 5px;
}
.profile_description__middle-item p{
       font-family: cursive;
    font-weight: 100;
    font-size: 12px;
    color: #646464;
}
 .profile_description__middle-item label {
    font-family: ui-monospace;
        font-weight: 700;
         font-size: 12px;
 }
.profile_description__middle-item span {
    font-family: math;
    font-weight: 100;
    font-size: 12px;
    color: #646464;
}
 
 
/* .profile_description_left ul {

} */
.profile_description__middle-item ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;

}
.profile_description__middle-item ul li{
    font-family: cursive;
    font-weight: 100;
    font-size: 12px;
    color: #646464;
    list-style: lower-roman;

}
.Overview_header{
       display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 5px;
}
.Overview_header-ProjectName{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Overview_header-ProjectName h1{
    font-size: 15px;
    text-transform: capitalize;
}
.Overview_header-ProjectName span{
      border-radius: 5px;
    padding: 0px 20px;
    font-size: 13px;
    font-family: auto;
    border: 1px solid #387a95;
    color: #387a95;
    font-weight: 700;

}
.Overview_header-ProjectName span:hover{
    scale:1.1;
    background-color:#387a95 ;
    color: white;

}
 .Overview_header-links{
    display: flex;
    gap: 10px;
    align-items: end;
}

.Overview_header-links .link{
      text-decoration: none;
    color: #818080;
    font-size: 12px;
    font-family: auto;
    font-weight: 500;
     text-wrap: nowrap;  
}
.userInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 10px;
}

 .userInfo__bio{
    text-wrap: balance;
    color: #534949;
    font-size: 14px;
    display: flex;
}
.userInfo__bio h4{
    color: #100e0e;
}
.userInfo__userName{
    color: #100e0e;
    font-size: 14px;
}
.userInfo__userName a{

}
.userInfo__list{
display: flex;
    gap: 20px;
    color: #534646;
    font-size: 14px;
}
.userInfo__list h6{

}
.userInfo__list span{
display: flex;
gap: 10px;
align-items: center;
}