.addMember{
       display: flex;
       color: #cdb15fc4;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 250px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffff;
    padding: 15px;
    padding: 15px;
    width: 400px;
    gap: 35px;
    margin: auto;
}
.addMember h1{
    font-family: monospace;
    font-weight: 500;
    font-size: 15px;
   margin-left: 25px;
   }
   .addMember label{
     color: #272323;
    font-size: 14px;
    font-family: monospace;
    font-weight: 200;
   }
.addMember_header{
        display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #afafaf solid 1px;
    align-items: center;
}
 
.addMember_header .icon:hover{
  cursor: pointer;
  scale: 1.1; 
}
   
.addMember__textarea {
         margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    font-size: 15px;
    padding: 15px;
    font-family: none;
}

 
 
 
   
  
