.modal{
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #bdadad9c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 100vh;
  transition: ease-in-out linear 1s;
}
.addMember{
       display: flex;
       color: #cdb15fc4;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffff;
    padding: 15px;
    padding: 15px;
    width: 600px;
    gap: 35px;
    margin: auto;
}
.addMember h1{
    font-family: monospace;
    font-weight: 500;
    font-size: 25px;
   margin-left: 25px;
   }
   .addMember label{
          color: #6d6666;
    font-size: large;
    font-family: serif;
    font-weight: 200;
   }
.addMember_header{
        display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #afafaf solid 1px;
    align-items: center;
}
.addMember_header h2{
      font-family: cursive;
    font-size: larger;
    /* border: solid; */
    font-weight: 500;
   margin-left: 10px;
}
.addMember_header .icon:hover{
  cursor: pointer;
  scale: 1.1; 
}
   
.addMember__textarea {
      margin-top: 10px;
    border-radius: 20px;
      height: 50px;
    font-size: 1.1rem;
    padding: 15px;
    font-family: emoji;
}
   .addMember div h2{
   color: #6d6666;
    font-size: large;
    font-family: serif;
    font-weight: 200;
 }
.addMember__button{
    margin-top:30px;
       background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.addMember__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
 
 
 
 
   
  
