.tasks{
display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.tasks .AssignedTask{
      width: 50%;
    padding: 5px;
    height: 100vh;
    margin-top: 20px;
        box-shadow: 0px 0px 12px 0px 
}
.tasks .AssignedTask__situation{
    padding: 25px;
}
.tasks .AssignedTask h3{
    font-size: 25px;
    font-family: sans-serif;
    border-bottom: 1px solid #c9c0c0;
    padding: 10px;
}
 

.tasks .AssignedTask__situation--description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #d7c7c7;
}