.Form{
   display: flex;
   flex-direction: column;
   place-items: center;
   color: #0b0c0c;
    box-shadow: 0px 0px 12px 0px black;
   background: #ffffff;
   grid-area: form;
   padding: 15px;
   justify-content: space-evenly;  
   align-items:start;
   width: 580px;
   flex-direction:4;
   right: 0;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 9999;
   overflow-y: scroll;
   overflow-x: hidden;
 }
 .Form header{
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -25px; }
 .Form header span {
       display: flex;
    gap: 35px;
 }
 
.Form header h6{
         font-family: sans-serif;
    font-size: larger;
     font-weight: 500;
    margin-left: 10px;
     border-radius: 10px;
    color: #045373;
    font-weight: bolder;
    font-size: 17px;
}
 
  .Form > input{
    border-radius: 20px;
    text-align:center;
    border: 1px solid rgb(63, 60, 60);

}


 .Form label{
   font-family: monospace;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #0a0a09;
    text-transform: capitalize;
    font-weight: 800;
}

 .Form__textArea {
    display: flex;
    align-items: baseline;
       justify-content: space-around;
    width: 100%;
     flex-direction: column;

 }

.Form__date{
      gap: 10px;
     display: flex;
    flex-direction: row;
width: 100%;
    justify-content: space-evenly;
     padding: 10px;
   }
.Form__date div {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.Form__date div  input{
       width: 220px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background: aliceblue;
    border: 1px solid #c5c5c5;
}
   .Form > label{
    text-align: start;
    margin-left: -10px;
    font-weight: 800;
    color: black;

   }

@media screen and (max-width:800px) {
.Form{
      display: flex;
   flex-direction: column;
   place-items: center;
   color: #0b0c0c;
    box-shadow: 0px 0px 12px 0px black;
   background: #ffffff;
 width:425px
   
}
.Form__date{
   flex-direction: column;
}

}
 
   
 
 
 
 
 
 