.Form{
   display: flex;
   flex-direction: column;
   place-items: center;
   color: #0b0c0c;
    box-shadow: 0px 0px 12px 0px black;
   background: #ffffff;
   grid-area: form;
   padding: 15px;
   gap: 15px;
   width: 670px;
   flex-direction:4;
   right: 0;
   position: absolute;
   top: 0;
   bottom: 0;
 }
 
.Form h2{
         font-family: sans-serif;
    font-size: larger;
    border-bottom: #afafaf solid 1px;
    font-weight: 500;
    margin-left: 10px;
    width: 100%;
    border-radius: 10px;
    color: #045373;
    font-weight: bolder;
    font-size: 17px;
}
 
  .Form > input{
    border-radius: 20px;
    text-align:center;
    border: 1px solid rgb(63, 60, 60);

}
.employeContainer{
       position: relative;
    display: flex;
     gap: 5px;
    align-items: start;
    align-self: baseline;
    border-top: 1px solid #d3cfcf;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}
.employeContainer_members span{
    background: #879971;
    height: 23px;
    width: 300px;
    border-radius: 10px;
     color: #ffffff;
}
.employeContainer_members{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
        left: 330px;
    z-index: 20000;
    background: white;
    padding: 5px;
    top: 10px;
}
.employeContainer_members-employe{
  width: 300px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    background: #e1dbcf;
    height: 100%;
    padding: 5px;
 }
.employeContainer_members-employe:hover{
   scale: 1.1;
}
 .employeContainer_members-employe div{
    display: flex;
    gap: 10px;
    align-items: center;
   }
   .employeContainer_members-employe div h4{
     color:black
   }
 .employeContainer_members-employe div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
       object-position: 75% 10%;
 }
    .employeContainer_members-employe p{
        color: #bfacac;
    font-family: monospace;
   }
 .project{
       position: relative;
       display: flex;
     gap: 5px;
    align-items: start;
    align-self: baseline;
    border-top: 1px solid #d3cfcf;
    width: 100%;
    padding: 10px;
 }
 .Form label{
font-family: system-ui;
    font-size: 17px;
    font-weight: 200;
    display: flex;
    gap: 10px;
    align-items: center;
 }
 .project_types span{
  background: #879971;
    height: 23px;
    width: 300px;
    border-radius: 10px;
     color: #ffffff;
 }
  
 
 .project_types{
   display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
        left: 330px;
    z-index: 19999;
    background: white;
    padding: 5px;
    top: 10px;
  }
 .project_types-type{
    width: 300px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
 }
 .project_types-type h4{
color: black; 
}
 .project_types-type:hover{
 scale: 1.1; 
}
 .project_types-type:hover{
  background: rgb(0 0 0 / 67%);
  cursor: pointer;
 }
 .project-type h4{
    font-family: math;
    font-weight: 400;
     letter-spacing: 2px;
 }
 .Form__textArea {
    display: flex;
    align-items: baseline;
       justify-content: space-around;
    width: 100%;
    border-top: 1px solid #d3cfcf;

 }
 .Form__textArea textarea{
       margin-top: 10px;
    border-radius: 20px;
    width: 450px;
    height: 100px;
    font-size: 1.1rem;
    padding: 15px;
 }
 .Form__AttachDocuments{
     display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: -100px;
 }
 .Form__AttachDocuments input{
        border: 1px solid #b7b7b7;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    font-family: cursive;
    font-size: 15px;
    background: white;
 }
.Form__type{
 display: flex;
    align-items: baseline;
       justify-content: space-around;
    width: 100%;
    border-top: 1px solid #d3cfcf;
   }
.Form__date{
      gap: 10px;
     display: flex;
    flex-direction: row;
width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid #d3cfcf;
    padding: 10px;
   }
.Form__date div {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.Form__date div  input{
       width: 220px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background: aliceblue;
    border: 1px solid #c5c5c5;
}
   .Form > label{
    text-align: start;
    margin-left: -10px;
    font-weight: 800;
    color: black;

   }
   
.Form > h1{
    margin-top: 40px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: start;
}.Form__input{
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(63, 60, 60);
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
}

.Form__textarea {
      margin-top: 10px;
    border-radius: 20px;
    width: 230px;
    height: 70px;
    font-size: 1.1rem;
    padding: 15px;
}
 
.Form__button{
        background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.Form__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
.Form__type{
     display: flex;
     gap:10px;
}
 
.Form__type-low:hover{
     background-color: #fff572;
     color: white;
}
.Form__type-medium:hover{
     background-color: #708aff;
     color: white;
}
.Form__type-high:hover{
       background-color: #ff0000;
        color: white
}
 
 .Form__type-all{ 
        background: #fcfcfc;
    height: 30px;
    width: 85px;
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 20px;
}
 
 .Form__tags{
    margin-top: 20px;
    gap: 10px;
 }
 .Form__tag:hover{
   border:#fcfcfc solid 2px 
   }
   
 .tag{
      width: 35px;
    height: 35px;
 }
