
.messageConvo{
    display:flex;
    flex: 4;
}
.MessagesConvoversation{
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 4;
}
.MessagesConvoversation__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #dddddd;
    padding: 7px 20px;
    flex: 1;
}
.MessagesConvoversation__header__sender{
    display: flex;
    gap: 10px;
}
.MessagesConvoversation__header__sender img{
width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
   cursor: pointer; 

}
.MessagesConvoversation__header__sender-stat{
    color: #000000;
    font-size: medium;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 400;
    font-family: monospace;
}
.MessagesConvoversation__header__sender-stat-name{
   color: #000000;
    font-size: medium;
    align-items: center;
    display: flex;
   cursor: pointer; 

}
.MessagesConvoversation__header__sender-stat-activeStatus{
       background: #00ab0a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    position: relative;
    top: 3px;
    left: 2px;
}
 .MessagesConvoversation__header__right{
    display: flex;
    gap: 20px;
    align-items: center;
}

 

 .MessagesConvoversation__list{
    background: #ffffff;
    height: 545px;  
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 16px 40px;
    gap: 15px;
        overflow-y: scroll;
        font-family: cursive;
            flex: 15
 }
 .MessagesConvoversation__list__sender{
        height: fit-content;
    width: fit-content;
    max-width: 40%;
        display: flex;
    flex-direction: column;
 }
 .MessagesConvoversation__list__sender-message{
     text-align: left;
    background: #575554;
    border-radius: 10px;
    padding: 10px;
    color: wheat;
    font-family: cursive;
    font-weight: 100;
    font-size: 13px;
 }
 .MessagesConvoversation__list__sender-timeSent{
font-size:12px;
text-align: end;
 }
 .MessagesConvoversation__list__reciever{
    height: fit-content;
    width: fit-content;
    max-width: 40%;
    display: flex;
    flex-direction: column;
        flex-direction: column;
    align-self: end;
    }
 .MessagesConvoversation__list__reciever-message{
     text-align: left;
    background: #265985;
    border-radius: 10px;
    padding: 10px;
    color: white;
     text-align: left;
     font-family: cursive;
    font-weight: 100;
    font-size: 13px;
 }
 .MessagesConvoversation__list__reciever-timeSent{
font-size:12px;
text-align: end;
 }
 .MessagesConvoversation__TypingBox{
        height: 75px;
    background: #ffffff;
    width: 100%;
    display: flex;
        justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 2;
 }
 .MessagesConvoversation__TypingBox textarea{
  width: 430px;
    border-radius: 20px;
    height: 45px;
    padding: 12px;
    font-size: 20px;
     outline: none;
    font-size: 12px;
    overflow: hidden;
border:1px solid rgb(185, 185, 185)
 
 }
.MessagesConvoversation__TypingBox button{
      padding: 9px 16px;
    border-radius: 10px;
    background: #ab7f04e0;
    font-size: 14px;
    color: #f9f6f1;
    font-family: cursive;
    font-weight: lighter;
    height: fit-content;
    border: none;
    
 }
 .MessagesConvoversation__TypingBox div {
     display: flex;
    align-items: center;
    padding: 15px;
    gap: 0px;
    height: 60px;
    gap: 5px;
    border-radius: 10px;
 }
 

@media screen and (max-width:800px) {

.MessagesConvoversation__TypingBox textarea{
    width: 100%;
}
.MessagesConvoversation__list{
    padding: 16px 20px;
}
.MessagesConvoversation__list__sender-message{
    font-size: 12px;
}
.MessagesConvoversation__list__reciever-message{
    font-size: 12px;
}
}