.BoxHeader{
  position:relative;  
  display: flex;
     align-items: center;
     gap: 8px;

}
.BoxHeader h3{
    font-size: 15px;
     font-weight: 100;
    color: #a14c01;
     font-family: monospace;
     display:flex;
     align-items: end;
     gap: 3px;
}
.BoxHeader .BoxHeader__filter-types{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: start;
    z-index: 5;
    position: absolute;
    top: -14px;
    left: 35px;
    gap: 2px;
}
 .BoxHeader__filter-selected{
   font-family: none;
   font-size: 12px;
   padding: 2px 26px;
   border-radius: 5px;
   color: #ffffff;
   font-weight: 900;
    background-color: #bb7d46;
   display: flex;
   align-items: center;
   cursor:pointer
  }
 .BoxHeader__filter-types{
   display: flex;
   flex-direction: column;
   padding: 15px;
   align-items: start;
   z-index: 5;
   position: absolute;
   top: -14px;
   left: 175px;
   width:max-content;

}
 
 .BoxHeader__filter-types li{
   list-style: none;
   cursor: pointer;
   border: 1px solid #777070;
   border-radius: 5px;
   width: 100%;
   text-align: start;
   padding: 0 10px;
   background: white;
   font-family: math;
   font-size: 12px;
   padding: 2px 26px;
    background-color: #bb7d46;
    color: white;
    z-index: 999;
 }
 .BoxHeader__filter-types li:hover{
   scale: 1.1;
   background-color: #925d2e;
   color: white;
 }
 
.BoxHeader .icon{
    color: black;
    font-size: 20px;  
}
