.side{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    background:#000000;
    border: 3px solid beige;
    height: 100vh;
    box-shadow: 2px 2px 4px black;
    border: 1px solid black;
    position: sticky;
    top:0;
    width: 120px;}
.side > h1{
    font-size: 1.3rem;
    text-align: start;
    margin-left:20px;
    margin-top:-5px;
}
.sideWord{
       display: flex;
    gap: 5px;
    text-decoration: none;
    padding: 4px 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #5d5252;
}
   .sideWord label{
       color: #979393;
    font-size: 11px;
    cursor: pointer;
    font-family: sans-serif;

}
.side >label:hover ,link:hover{
    cursor: pointer;
}
.navigationLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   padding: 10px 0;
    height: 100vh;
    margin-top: 35px;
    
}
.navigationTopLinks{
     display: flex;
    flex-direction: column;
    gap: 10px;
}
 .navigationLinks  .icon{
  font-size:20px;
      color: #ffa600;
}
.logout{
    display:flex;
    gap:10px;
    margin-top:10x;
    color: white;
        align-items: center;
 }
h4{
    color: #ffffff;
}
.navigationTBottomLinks{
    display: flex;
     gap: 15px;
    font-size: 20px;   
     flex-direction: column;
}
 
 