.side{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    background:#000000;
    border: 3px solid beige;
    height: 100vh;
    box-shadow: 2px 2px 4px black;
    border: 1px solid black;
    position: sticky;
    top:0;
    width: 220px;
}
.side > h1{
    width: 100%;
    font-size: 1.3rem;
    text-align: start;
    margin-left:20px;
    margin-top:-5px;
   
}
.side .toogleIcon{
display: none;
}

.brandIcon{
    display: flex;
    gap: 7px;
    align-items: center;
    border-bottom: 1px solid #5d5f5c;
    margin-top: 10px;
    justify-content: space-between;
    padding: 10px 3px;
}
.brandIcon .icon{
           color: #ffa600;
    font-size: 23px;
}
.brandIcon h1{
  font-size: 15px;
    color: #ffa600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffa600;
    font-family: math;
    font-weight: 700;
     display: flex;
    align-items: center;
    gap: 6px;
 }

.side >label:hover ,link:hover{
    cursor: pointer;
}
.navigationLinks{
       display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 100vh;
    margin-top: 5px;
    
}
.navigationTopLinks{
        display: flex;
    flex-direction: column;
    gap: 5px;
}
 .navigationTopLinks span{
    position: absolute;
    top: -2px;
    color: red;
    left: 68px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 11px;
    font-weight: bold;
    background: white;
 }
 .navigationLinks  .icon{
  font-size:13px;
      color: #ffa600;
}
.logout{
    display:flex;
    gap:10px;
    margin-top:10x;
    color: white;
        align-items: center;
 }
h4{
    color: #ffffff;
}
.navigationLinks .link{
display: flex;
    gap: 5px;
    text-decoration: none;
    padding: 4px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;
    height: 25px;
    color: #e5e5e5;
    font-size: 12px;
    cursor: pointer;
    font-family: monospace;
    font-weight: 100;
}
.navigationTBottomLinks{
display: flex;
    gap: 15px;
    font-size: 20px;
     bottom: 0;
    position: absolute;
}
.navigationLinks .projects{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.navigationLinks button{
    margin: auto;
    width: 60%;
    cursor: pointer;
    background: white;
    border: navajowhite;
    display: flex;
    align-items: center;
    gap: 5px;
    /* outline: none; */
    padding: 5px 10px;
    border-radius: 10px;
    background: #2e2e2e;
    color: #ffffff;
    font-size: 10px;
}
.navigationLinks button:hover{
  background: #4b4b4b;
    color: #afafaf;
}
.navigationLinks .projects .icon{
}
.navigationLinks .projects h5{
               text-align: start;
    font-size: 14px;
        font-family: fangsong;
     color: #b1b1b1;
     background: #252525;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 3px;
}
.navigationLinks .projects .label{
       color: #8b8282;
    font-size: 11px;
    cursor: pointer;
    font-family: sans-serif;
    padding: 4px 8px;
    background: #141414;
    text-decoration: none;
    text-align: start;
}
.closeSidebar{
    display: none;
width:70%;
position:fixed;
right: 0;
top: 0;
left: 0;
bottom: 0;
z-index: 999;
padding-bottom: 80px;
padding-right: 20px;
 }
@media screen and (max-width: 800px) {
   
  .side{
    display: none;
  } 
   
    .side.open{
        display: flex;
width:70%;
position:fixed;
right: 0;
top: 0;
left: 0;
bottom: 0;
z-index: 999;
 padding-bottom: 80px;
 padding-right: 20px;
     }
     .side .toogleIcon{
display: none;
}
.brandIcon{
    margin-top: 0px;
 }
.brandIcon .icon{
     font-size: 33px;
}
.brandIcon h1{
  font-size: 18px;
     gap: 8px;
 }
.side .toogleIcon{
display: block;
align-self: end;
}


.navigationTopLinks{
        display: flex;
    flex-direction: column;
    gap: 15px;
}

 .side .toogleIcon{
     align-self: flex-end;
     display: block;
    font-size: 20px;
    cursor: pointer;
}
 .navigationLinks  .icon{
  font-size:19px;
      color: #ffa600;
}
.navigationLinks .link{
    font-size: 14px;
    gap: 10px;
}
 
 
.navigationLinks button{
     width: 40%;
     font-size: 13px;
    align-items: start;
    align-self: baseline;
}

}
 