.totalTaskStatus{
    width: 286px;
    height: 175px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
}
.totalTaskStatus h5{
    font-family: ui-monospace;
    font-size: 14px;
    font-weight: 100;
    color: #282a2c;
}
.totalTaskStatus .icon:hover{
  cursor: pointer;
  scale: 1.1;
}
.totalTaskStatus span{
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    font-family: cursive;
}
.totalTaskStatus div{
    display: flex;
    align-items: center;
    justify-content:center;

}
