
.tableContainer{
   display: flex;
   gap: 10px;
   flex-direction: column;
}
table{
width: 100%;
    max-width: 100%;
     border-spacing: 0px;
     font-family: monospace;
    font-size: 12px;
 background: white}
 th p{
       display: flex;
    align-items: center; 
    gap:5px;
    justify-content:center;
     font-weight: bold;
    color: #3e5b5e;
    text-transform: capitalize;
    letter-spacing: 1px;
}

thead tr th select option{
font-size: 15px;
    font-family: ui-monospace;
}

tr td:nth-child(5){
    text-align: center;
    position: relative;
}
td{
        border: 1px solid #eba72a63;
    padding: 3px 0px;
    cursor:pointer
}
   td input{
        width: 100%;
    padding: 5px 5px;
    border: none;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    border: none;
    }

 .taskStatus{
    position: absolute;
    width: 93%;
    height: 80%;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border-radius: 3px;
    left: 8px;
    padding: 14px 7px;
    color: rgb(0, 0, 0);
    
 }
 td{
    position: relative;
    text-align: center;
 }
 .taskStatus_menu{
       display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 100;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 25px;
    background: #ffffff;
    height: auto;
    width: 140px;
    border-radius: 10px;
    transition: 10ms all ease-in;
    left: -20px;
    border: 1px solid #bababa;
 }
 .taskStatus_menu-item{
   color: #100e0e;
   border: none;
   cursor: pointer;
   height: 16px;
   display: flex;
   align-items: center;
   padding: 11px 16px;
   width: 100%;
   align-self: center;
   gap: 10px;
text-wrap: nowrap;
   border-bottom: solid 1px #ede8e8;
 }
 .taskStatus_menu-item:hover{
    scale:1.1;
    cursor: pointer;
 }

 .taskStatus-stat{
    cursor: pointer;
    position: absolute;
 }
 .taskStatus_menu-item span {
    width: 10px;
    height: 10px;
 }
 td p{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color:black
 }
 td span{
   display: flex;
   align-items: center;
   gap: 10px;
   color: black;
   border-radius: 50%;
}
 td img{
    width:20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
 }
 .tableHeader{
   position: relative;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom:5px;
   padding: 0px 15px;
  }
 .tableHeader h4{
    color: #1717b5;
    font-family: math;
 }
  
 .tableHeader  button{
  background: #2b4168;
    border-radius: 5px;
    padding: 2px 10px;
    color: lightgrey;
    font-size: 11px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    letter-spacing: 1px;
 }
 .tableFilter div .icon{

 }
 .taskInputCell{
   display: flex;
   align-items: center;
   position: relative;
 }
 .taskInputCell button{
      display: none;
    position: absolute;
    right: 0;
    background-color: rgb(131 87 4);
     border: none;
    padding: 2px 10px;
    border-radius: 5px;
    color: white;
    
 }
 .taskInputCell:hover.taskInputCell > button{
display: flex;
    align-items: center; }

 