  
*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Times, 'Times New Roman', serif;
    color:rgb(79 78 78);
    height: 100vh;
    text-align: center;
    background: #f1f1f1;
}
 
.container{
    display: flex;
    gap: 10px;
}
 .containers{
    display: flex;
    gap: 20px;
    display: flex;
    bottom: 0;
}

 .filter{
    position: relative;
    display: inline-block;
    display: flex;
    width: 500px;
 }
 .filter > input{
      height: 30px;
    width: 95%;
    border-radius: 10px;
    text-align: center;
    background: #d5d5d5;
    outline: none;
 }
 
 .searchIcon{
   position: absolute; 
   left: 20px;
   top:5px;
   color: black;
   position: absolute;
 }
 .content{
    display: flex;
    flex-direction: column;
    flex: 5;
         gap:10px ;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.link{
display: flex;
    gap: 5px;
    text-decoration: none;
    padding: 4px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;
    height: 25px;
    color: #e5e5e5;
    font-size: 12px;
    cursor: pointer;
    font-family: monospace;
    font-weight: 100;
}
   .link label{
    

}
 
/* Styling the scrollbar in Chrome and Safari */
.element-with-scroll::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}
.element-with-scroll::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

.element-with-scroll::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);        /* color of the tracking area */
}

.element-with-scroll::-webkit-scrollbar-thumb {
   border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
.element-with-scroll::-webkit-scrollbar-thumb {
  background-color: #080807;
}

 

 




  

 

 
 
