.projectCatagories{
     display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 5px;
    position: relative;
}
.projectCatagories__cards{
    display:flex;
    gap: 10px;
        margin-left: 15px;
        transform: translateX(0px);
}
.projectCatagories__cards-card{
    display: flex;
    flex-direction: column;
    background: #cd895f;
    border-radius: 5px;
    padding: 5px;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
    width: 90px;
}
.projectCatagories__cards-card .title{
color: black;
}
.projectCatagories__cards-card span{
     font-size: 13px;
    font-family: cursive;
    font-weight: 100;
    color: #898981;
}
.iconWrapper{
      background: antiquewhite;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 5px;
}
.sliderArrow{
   position: absolute;
    width: 18px;
    font-size: 30px;
    height: 100%;
    background: linear-gradient(45deg, #6e6666, #00000036);
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    cursor: pointer;
}
 .right{
    right: 0;
}

 .left{
    left: 0;
}