.card{
      width: 250px;
    height: 120px;
    background: #ffffff;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 900;
}
.card .Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
.card .Container .title{
       display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
   
}
.card .Container .title:last-child{
}
.card .Container .Total{
    display: flex;
}
 .card .Container .Total span{
          margin-left: 15px;
    font-size:20px;
}
 
 
.card .Container .Add{
    background-color: #2b4168;
    color: white;
    border: none;
     border-radius: 10px;
    font-family: cursive;
    font-size: 10px;
    line-height: 5px;
    height: 25px;
}
.card .Container .Add:hover{
    background-color: rgb(101 98 99);
} 
 
.title h3{
    color: #a3a19f;
    font-family: math;
    font-weight: 100;
    font-size: 14px;
 }