 
 .Form header{
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -25px;
 }
.Form header h6{
         font-family: sans-serif;
    font-size: larger;
     font-weight: 500;
    margin-left: 10px;
     border-radius: 10px;
    color: #045373;
    font-weight: bolder;
    font-size: 17px;
}
 
  .Form > input{
    border-radius: 20px;
    text-align:center;
    border: 1px solid rgb(63, 60, 60);

}
.employeContainer{
       position: relative;
    display: flex;
     gap: 5px;
    align-items: start;
    align-self: baseline;
    border-top: 1px solid #d3cfcf;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}
.employeContainer_members span{
    background: #ffffff;
    height: auto;
    width: 250px;
    border-radius: 10px;
    color: #000000;
    font-size: 12px;
    border: 1px solid #7d7b7b;
    font-family: monospace;
    min-height: 30px;
}
.employeContainer_members{
      display: flex;
    flex-direction: column;
     position: absolute;
    left: 260px;
    z-index: 20000;
    background: white;
    padding: 5px;
    top: 0px;
}
.employeContainer_members-employe{
  width: 250px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    background: #d7a645;
    height: 100%;
    padding: 5px;
 }
.employeContainer_members-employe:hover{
   scale: 1.1;
}
 .employeContainer_members-employe div{
    display: flex;
    gap: 10px;
    align-items: center;
   }
   .employeContainer_members-employe div h4{
     color:black;
         font-size: 9px;
   }
 .employeContainer_members-employe div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
       object-position: 75% 10%;
 }
    .employeContainer_members-employe p{
   color: #fbfbfb;
    font-family: monospace;
    text-align: end;
   }
 .project{
       position: relative;
       display: flex;
     gap: 5px;
    align-items: start;
    align-self: baseline;
     width: 100%;
    padding: 10px;
 }
 .Form label{
font-family: monospace;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #0a0a09;
    text-transform: capitalize;
    font-weight: 800;
 }
  .project_types span{
 background: #ffffff;
    height: auto;
    width: 250px;
    border-radius: 10px;
    color: #000000;
    font-size: 12px;
    border: 1px solid #7d7b7b;
    font-family: monospace;
    min-height: 30px;
  }
  
 
 .project_types{
     display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;
     background: white;
    padding: 5px;
    top: 0px;
   }
 .project_types-type{
    
        width: 250px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    border: 1px solid #7d7b7b;
    gap: 20px;
 }
 .project_types-type h4{
    color: black;
    font-size: 11px;
    font-family: monospace;
}
 .project_types-type:hover{
 scale: 1.1; 
}
 .project_types-type:hover{
  background: rgb(0 0 0 / 67%);
  cursor: pointer;
 }
 .project-type h4{
    font-family: math;
    font-weight: 400;
     letter-spacing: 2px;
 }
 .Form__textArea {
    display: flex;
    align-items: baseline;
       justify-content: space-around;
    width: 100%;
     flex-direction: column;

 }
 .Form__textarea p{
    font-family: math;
    font-weight: 100;
    font-size: 10px;
    color: rgb(0, 0, 0) !important;
    font:bold

}
 .Form__textArea textarea{
       margin-top: 10px;
    border-radius: 20px;
    width: 450px;
    height: 100px;
    font-size: 1.1rem;
    padding: 15px;
 }
 .Form__AttachDocuments{
    display: flex;
    align-self: self-start;
    align-items: center;
    gap: 10px;
 }
 .Form__AttachDocuments button{
    background: #13855b;
    border: none;
    color: white;
    padding: 4px 15px;
    font-size: 11px;
    border-radius: 12px;
    min-width: fit-content;
    height: 30px;
 }
 .Form__AttachDocuments input{
        border: 1px solid #b7b7b7;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    font-family: cursive;
    font-size: 15px;
    background: white;
 }
 
.Form__type{
 display: flex;
    align-items: baseline;
       justify-content: space-around;
    width: 100%;
    border-top: 1px solid #d3cfcf;
   }
.Form__date{
      gap: 10px;
     display: flex;
    flex-direction: row;
width: 100%;
    justify-content: space-evenly;
     padding: 10px;
   }
.Form__date div {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.Form__date div  input{
       width: 220px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background: aliceblue;
    border: 1px solid #c5c5c5;
}
   .Form > label{
    text-align: start;
    margin-left: -10px;
    font-weight: 800;
    color: black;

   }
   
.Form > h1{
    margin-top: 40px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: start;
}.Form__input{
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(63, 60, 60);
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
}

.Form__textarea {
      margin-top: 10px;
    border-radius: 20px;
    width: 230px;
    height: 70px;
    font-size: 1.1rem;
    padding: 15px;
}
 
.Form__button{
        background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.Form__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
.Form__priorities{
     display: flex;
     gap:10px;
     align-self: self-start;
}

.Form__priorites-priority-low:hover{
     background-color: rgb(157 146 0);
     color: white;
}
.Form__priorites-priority-medium:hover{
     background-color: #0021b6;
     color: white;
}
.Form__priorites-priority-high:hover{
       background-color: #ff0000;
        color: white
}
 .Form__priorites{
display: flex;
    gap: 20px;
    align-self: self-start;
 }
 .Form__priorites-priority{ 
   background: white;
     display: flex;
    place-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
     padding: 5px 30px;
    font-size: 13px;
    font-family: math;
        border: 1px solid #bf9c9c;
}
 
 .Form__tags{
    margin-top: 20px;
    gap: 10px;
 }
 .Form__tag:hover{
   border:#fcfcfc solid 2px 
   }
   
 .tag{
      width: 35px;
    height: 35px;
 }
